<h1 id="page-title">
  Mes cv
</h1>

<div class="section">
  <div class="section-content">
    <br>
    <table class="data-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Etudiant (id)</th>
          <th>Date de soumission</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Léo PAN (<a href="#">60</a>)</td>
          <td>22/06/2020 à 16H30</td>
          <td>En cours</td>
          <td class="btn-group">
            <app-button [type]="'secondary'" [label]="'Envoyer rappel'"></app-button>
            <app-button [type]="'secondary'" [label]="'Consulter'"></app-button>
            <app-button [type]="'danger'" [label]="'supprimer'"></app-button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Léo PAN (<a href="#">60</a>)</td>
          <td>22/06/2020 à 16H30</td>
          <td>En cours</td>
          <td class="btn-group">
            <app-button [type]="'secondary'" [label]="'Envoyer rappel'"></app-button>
            <app-button [type]="'secondary'" [label]="'Consulter'"></app-button>
            <app-button [type]="'danger'" [label]="'supprimer'"></app-button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Léo PAN (<a href="#">60</a>)</td>
          <td>22/06/2020 à 16H30</td>
          <td>En cours</td>
          <td class="btn-group">
            <app-button [type]="'secondary'" [label]="'Envoyer rappel'"></app-button>
            <app-button [type]="'secondary'" [label]="'Consulter'"></app-button>
            <app-button [type]="'danger'" [label]="'supprimer'"></app-button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Léo PAN (<a href="#">60</a>)</td>
          <td>22/06/2020 à 16H30</td>
          <td>En cours</td>
          <td class="btn-group">
            <app-button [type]="'secondary'" [label]="'Envoyer rappel'"></app-button>
            <app-button [type]="'secondary'" [label]="'Consulter'"></app-button>
            <app-button [type]="'danger'" [label]="'supprimer'"></app-button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Léo PAN (<a href="#">60</a>)</td>
          <td>22/06/2020 à 16H30</td>
          <td>En cours</td>
          <td class="btn-group">
            <app-button [type]="'secondary'" [label]="'Envoyer rappel'"></app-button>
            <app-button [type]="'secondary'" [label]="'Consulter'"></app-button>
            <app-button [type]="'danger'" [label]="'supprimer'"></app-button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Léo PAN (<a href="#">60</a>)</td>
          <td>22/06/2020 à 16H30</td>
          <td>En cours</td>
          <td class="btn-group">
            <app-button [type]="'secondary'" [label]="'Envoyer rappel'"></app-button>
            <app-button [type]="'secondary'" [label]="'Consulter'"></app-button>
            <app-button [type]="'danger'" [label]="'supprimer'"></app-button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Léo PAN (<a href="#">60</a>)</td>
          <td>22/06/2020 à 16H30</td>
          <td>En cours</td>
          <td class="btn-group">
            <app-button [type]="'secondary'" [label]="'Envoyer rappel'"></app-button>
            <app-button [type]="'secondary'" [label]="'Consulter'"></app-button>
            <app-button [type]="'danger'" [label]="'supprimer'"></app-button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Léo PAN (<a href="#">60</a>)</td>
          <td>22/06/2020 à 16H30</td>
          <td>En cours</td>
          <td class="btn-group">
            <app-button [type]="'secondary'" [label]="'Envoyer rappel'"></app-button>
            <app-button [type]="'secondary'" [label]="'Consulter'"></app-button>
            <app-button [type]="'danger'" [label]="'supprimer'"></app-button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Léo PAN (<a href="#">60</a>)</td>
          <td>22/06/2020 à 16H30</td>
          <td>En cours</td>
          <td class="btn-group">
            <app-button [type]="'secondary'" [label]="'Envoyer rappel'"></app-button>
            <app-button [type]="'secondary'" [label]="'Consulter'"></app-button>
            <app-button [type]="'danger'" [label]="'supprimer'"></app-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
