<div class="row">
  <div class="col-sm-12">
    <h1 id="page-title">Mes cv</h1>
  </div>
  <div class="col-sm-12">
    <div class="section">
      <div class="section-content">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Etudiant (id)</th>
            <th>Date de soumission</th>
            <th>Statut</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Colline THIRION-DEBIEN (<a href="#">1</a>)</td>
            <td>22/06/2020 à 16H30</td>
            <td>En cours</td>
            <td>
              <div class="button-tab">
                <app-button type="normal" label="Rappel"></app-button>
                <app-button type="normal" label="Consulter"></app-button>
                <app-button type="danger-revert" label="Supprimer"></app-button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

