<h1 id="page-title">MON CV</h1>

<div class="warning-block">
    <p>
        <b>Attention !</b> Vous n'avez pas encore fournis de CV. Veuillez soumettre votre CV dans le plus bref délait à des fin de vérification et pour continuer le processus.<br/>
        La démarche s'effectue via la section <a [routerLink]="['dashboard/cv']" >'mon cv'</a> où vous pouvez accéder à un formulaire.</p>
</div>

<div id="upload-section">  
<app-upload-file (emitFileUpload)="changeOnUpload($event)" ></app-upload-file>
<div>
    <h1>IMPORTATION DU CV</h1>
    <p>Veuillez glisser-déposer votre cv dans le cadre prévu à cet effet situé à gauche ou cliquer sur celui-ci pour ouvrir une boite de dialogue et selectionner votre document.</p>

    <br>
    <div class="uploadedFileForm" *ngIf="fileUploaded">
        <div class="input-group">
            <label for="filename">Nom du fichier</label>
            <input type="text" id="filename" [value]="filename">
        </div>
        <div class="button-group">
            <button class="valid-btn" >Valider</button>
            <button class="cancel-btn" >Annuler</button>
        </div>
    </div>


</div>
</div>