#page-title {
    font-size: 60px;
    text-transform: uppercase;
    color: rgb(40, 40, 40);
}

.section {
    margin-top: 1em;
}

.section .section-header {
    border-bottom: 3px solid #eee;
    padding: 0.5em 0;
}

.section .section-header .section-title {
    font-size: 32px;
    color: rgb(40, 40, 40);
}

.submit-btn.disabled {
    background-color: gray;
    color: #404040;
} 

.submit-btn {
    display: block;
    padding: 1em;
    border: 0;
    background-color: #26A2B7;
    border-radius: 0;
    width: 100%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}