:host-context(.theme-dark) #page-title {
  color: #FFFFFF;
}

:host-context(.theme-dark) .section .section-header {
  border-bottom: 3px solid #eee;
}

#page-title span {
  font-size: 20px;
  color: #AAA;
  font-style: italic;
}

:host-context(.theme-dark) .data-table .data {
  border-bottom: 1px solid #eee;
}

:host-context(.theme-dark) .data-table .label {
  color: #FFFFFF;
}

:host-context(.theme-dark) #toogle-dark-mode {
  background-color: #FFFFFF;
  color: #1e1e1e;
}
