/* Move it (define the animation) */
@-moz-keyframes demo-1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes demo-1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes demo-1 {
  0%   {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

.banner {
  display: flex;
  width: 100%;
  height: 32px;
  background-color: #eeeeee;
  color: #1a1a1a;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.banner .icon {
  font-size: 12px;
  line-height: 32px;
  padding-right: 0.5em;
}
.banner .scrolling p {
  line-height: 32px;
  font-size: 12px;
}
.banner .scrolling {
  display: flex;
  /*-moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  /* Apply animation to this element
  -moz-animation: demo-1 30s linear infinite;
  -webkit-animation: demo-1 30s linear infinite;
  animation: demo-1 30s linear infinite;*/
}

.banner.error {
  background-color: #dc2850;
  color: #FFFFFF;
}
.banner.announcement {
  background-color: #3b57cf;
  color: #FFFFFF;
}
.banner.warning {
  background-color: #E6B22C;
  color: #FFFFFF;
}
