<h1 id="page-title">
  Dashboard
</h1>

<div class="section">
  <div class="section-content">
    <div class="card-list">
      <app-data-card [title]="'Etudiants'" [number]="120" [icon]="'fas fa-user-graduate'" (ClickOnCard)="test()" ></app-data-card>
      <app-data-card [title]="'CV non soumis'" [number]="120" [icon]="'fas fa-file'" (ClickOnCard)="test()" ></app-data-card>
      <app-data-card [title]="'CV en cours'" [number]="120" [icon]="'fas fa-file'" (ClickOnCard)="test()" ></app-data-card>
      <app-data-card [title]="'CV validés'" [number]="120" [icon]="'fas fa-file'" (ClickOnCard)="test()" ></app-data-card>
    </div>
  </div>
</div>
