<h1 id="page-title">MON CV</h1>

<app-warning-box [message]="'Vous devez transmettre votre CV le plus tôt possible afin de procéder à vitre enregistrement pour l\'apprentis-dating. Pour cela veuillez importer votre CV dans lsection dédiée mon cv.'"></app-warning-box>

<div id="upload-section">  
<app-upload-file (emitFileUpload)="changeOnUpload($event)" ></app-upload-file>
<div>
    <h1>IMPORTATION DU CV</h1>

    <p>Veuillez glisser-déposer votre cv dans le cadre prévu à cet effet ou cliquer sur celui-ci pour ouvrir une boite de dialogue et selectionner votre document.</p>
    <br/>
    <app-error-box [message]="'Le fichier doit &ecirc;tre au format PDF seulement !'" *ngIf="error === 1"></app-error-box>

    <br>
    <div class="uploadedFileForm" *ngIf="file != null && error == null">
        <app-textbox [(inputModel)]="fileName" [label]="'Nom du fichier'" [fullSize]="true" ></app-textbox>
        <div class="button-group">
            <app-button [label]="'Valider'" [type]="'primary'" [fullSize]="true" (click)="validateCvImport($event)" ></app-button>    
            <app-button [label]="'Annuler'" [type]="'danger'" [fullSize]="true" (click)="cancelCvImport($event)" ></app-button>
        </div>
    </div>
</div>
</div>