<div class="row">
  <div class="col-sm-12">
    <div class="section">
      <div class="section-content">
        <app-info-box [message]="'Les tags qui vous sont attribués peuvent ne pas correspondre à vos attentes. Si vous souhaitez changer, veuillez en informer votre professeur via la messagerie interne de l\'application ou directement.'"></app-info-box>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="section">
      <div class="section-header">
        <h2 class="section-title">
          LISTE DE MES TAGS
        </h2>
      </div>
      <div class="section-content">
        <app-info-box [message]="'Auncun tag ne vous a ete assignes pour le moment'" *ngIf="hasNoTagAssigned()" ></app-info-box>
        <app-error-box [message]="'Une erreur est survenue lors du contact avec le serveur'" *ngIf="errorOnTagService()" ></app-error-box>
        <app-tag-badge *ngFor="let tag of getTags()" [tag]="tag" (click)="visualiseTag(tag)"></app-tag-badge>
      </div>
    </div>
  </div>
</div>
