.card-body .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}
.card-body .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: auto;
  right: 16px;
  bottom: 16px;
  display: block;
}
