.page-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(32, 135, 178);
  background: -moz-linear-gradient(60deg, rgba(32, 135, 178,1) 0%, rgba(41,171,226,1) 100%);
  background: -webkit-linear-gradient(60deg, rgba(32, 135, 178,1) 0%, rgba(41,171,226,1) 100%);
  background: linear-gradient(60deg, rgba(32, 135, 178,1) 0%, rgba(41,171,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f00bc",endColorstr="#29abe2",GradientType=1);
}
#logo {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  width: 250px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

form .input-group {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  width: 100%;
}

form .input-group label {
  font-size: 14px;
  font-weight: bold;
  padding: 0.2em 0.5em;
}

form .input-group input {
  font-size: 20px;
  height: 48px;
  border-radius: 5px;
  text-align: left;
  color: #141414;
  border: 3px solid transparent;
  width: 100%;
  text-indent: 0.5em;

  transition: 150ms ease-in-out;
}
form .input-group input[type="password"] {
  -webkit-text-security: square;
}

form .button {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  width: 250px;
  height: 32px;
  color: #ffffff;
  background-color: #1e1e1e;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  margin: 1em auto auto auto;
}


.authentication-failed-box
{
  opacity: 0;
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 1em 0;
  z-index: 1;
  color: #dc2850;
  border: 2px solid #dc2850;
}

.authentication-failed-box.active {
  opacity: 1;
}


.authentication-failed-box h1 {
  letter-spacing: 0.25em;
  text-align: center;
  font-size: 1em;
}

#uvsq_logo {
  position: absolute;
  width: 200px;
  right: 1em;
  bottom: 1em;
}

#toogle-dark-mode {
  border: 0;
  padding: 1em;
  border-radius: 50px;
  background-color: #1e1e1e;
  color: #FFFFFF;
  height: 24px;
  line-height: 0;
  font-size: 14px;

  position: absolute;
  left: 1em;
  bottom: 1em;
  width: 160px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .error-box {
  position: absolute;
  bottom: 0;
  right: 12px;
  color: #dc2850;
  height: 48px;
  font-size: 14px;
}
.input-wrapper .error-box span {
  display: inline-block;
  margin-right: 0.5em;
  line-height: 48px;
  font-weight: bold;
}
.input-wrapper .error-box i {
  display: inline-block;
  line-height: 48px;
}


@media screen and (max-width: 500px) {
  #logo {
    position: inherit;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 1em;
    position: inherit;
  }

  form .input-group {
    display: flex;
    flex-direction: column;
    margin: 0.25em 0;
  }

  form .input-group label {
    font-size: 18px;
    font-weight: bold;
  }

  form .button {
    width: 100%;
  }

  form span.error {
    color: #dc2850;
    font-size: 11px;
    display: block;
  }
  form .input-group input.error {
    border-color: #dc2850;
  }

  .authentication-failed-box
  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #dc2850;
    padding: 1em;
    top: 0;
  }

  .authentication-failed-box h1 {
    letter-spacing: 0.25em;
    text-align: center;
    display: block;
    max-width: 100%;
    overflow-wrap: break-word;
  }

  #uvsq_logo {
    position: inherit;
    width: 100%;
    padding: 1em;
  }


  #toogle-dark-mode {
    position: inherit;
    width: calc(100% - 2em);
    padding: 1em;
    margin: 1em;
  }
}
