.grid-container {
  display: flex;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

.Left-Panel {
  grid-area: Left-Panel;
  width: 300px;
  height: 100%;
  position: relative;

  background: rgb(32, 135, 178);
  background: -moz-linear-gradient(60deg, rgba(32, 135, 178,1) 0%, rgba(41,171,226,1) 100%);
  background: -webkit-linear-gradient(60deg, rgba(32, 135, 178,1) 0%, rgba(41,171,226,1) 100%);
  background: linear-gradient(60deg, rgba(32, 135, 178,1) 0%, rgba(41,171,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f00bc",endColorstr="#29abe2",GradientType=1);
}

.Right-Panel {
  width: 100%;
  position: relative;
}

.Center-Panel {
  padding: 2em;
  overflow: auto;
  width: 100%;
  height: calc(100% - 64px);
  position: relative;
}

.top {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 64px;
  -webkit-box-shadow: 0px 0px 41px 13px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 41px 13px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 41px 13px rgba(0,0,0,0.1);
}

.Top-Panel {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  right: 0;
  justify-content: flex-end;
  background-color: #fff;
  height: 64px;
  align-items: center;
  -webkit-box-shadow: 0px 0px 41px 13px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 41px 13px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 41px 13px rgba(0,0,0,0.1);
  z-index: 2;
}

.Top-Panel .page-name {
  font-weight: bold;
  display: block;
  width: 100%;
  padding-left: 1em;
  color: #4b4b4b;
  text-transform: uppercase;
}

.Top-Panel a {
  cursor: pointer;
}

.Top-Panel> a {
  color: gray;
  font-size: 24px;
  line-height: 64px;
  padding: 0 0.5em;
  color: #c8c8c8;
  height: 100%;
}

.accountPanel {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0 35px 41px 13px rgba(0,0,0,0.1);
  width: 250px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.accountPanel a {
  font-size: 16px;
  line-height: 48px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #1a1a1a;
}
.accountPanel a:hover {
  color: #3b57cf;
}


.toast-group {
  display: block;
  position: absolute;
  top: 0;
  right: 1em;
  z-index: 3;
  width: 350px;
}
.toast-group app-toast {
  margin: 1em;
}
