<app-banner *ngIf="getLastBanner() !== null" [banner]="getLastBanner()"></app-banner>

<div class="toast-group">
  <app-toast *ngFor="let toast of getToasts()" [toastMessage]="toast"></app-toast>
</div>

<div class="grid-container" (swiperight)="openMainNavigationOnSwipe($event)" (swipeleft)="closeMainNavigationOnSwipe($event)">
  <div class="Left-Panel" [class.collapsed]="!isMainNavigationOpened()" [class.banner-present]="getLastBanner() !== null" (clickOutside)="closeMainNavigationOnSwipeOutside($event)">
    <div class="top">
      <app-logo width="24" height="100" percentages="true"></app-logo>
    </div>
    <app-navigation></app-navigation>

    <button (click)="themeService.switch(renderer)" id="toogle-dark-mode">{{ themeService.isDarkModeActivated() ? 'Mode clair' : 'Mode sombre' }}</button>
  </div>
  <div class="Right-Panel">
    <div class="Top-Panel">
      <span (click)="openMainNavigation()" *ngIf="isSmallScreen()" class="collapse-menu-button"><i class="fas fa-bars"></i></span>
      <h3 class="page-name">
        {{ this.getPageName() ? this.getPageName(): '' }}
      </h3>
      <a href="/account"><i class="fas fa-comments"></i></a>
      <a href="/notifications"><i class="fas fa-bell"></i></a>
      <a (click)="openUserMenu()" #accountMenuLink ><i class="fas fa-user-circle"></i></a>
      <div class="accountPanel" *ngIf="isUserMenuOpened()" (clickOutside)="closeUserMenu($event)" >
        <a (click)="goToAccount()">Mon compte</a>
        <a (click)="logout()" >Se déconnecter</a>
      </div>
    </div>
    <div class="Center-Panel container-fluid">

      <router-outlet></router-outlet>
    </div>
  </div>

</div>
