.splashscreen {
  display: block;
  width: 100%;
  height: 100%;

  background: rgb(79,0,188);
  background: -moz-linear-gradient(60deg, rgba(79,0,188,1) 0%, rgba(41,171,226,1) 100%);
  background: -webkit-linear-gradient(60deg, rgba(79,0,188,1) 0%, rgba(41,171,226,1) 100%);
  background: linear-gradient(60deg, rgba(79,0,188,1) 0%, rgba(41,171,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f00bc",endColorstr="#29abe2",GradientType=1);
}
app-logo {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
