<div class="col main" >
  <h1 class="display-4 d-none d-sm-block">Dashboard</h1>

  <div class="row mb-3">
    <app-data-card [title]="'Etudiants'" [number]="120" icon="fas fa-user-graduate" status="success" class="col-xl-3 col-sm-6 py-2"></app-data-card>
    <app-data-card [title]="'CV non soumis'" [number]="120" icon="fas fa-file" status="danger" class="col-xl-3 col-sm-6 py-2"></app-data-card>
    <app-data-card [title]="'CV en cours'" [number]="120" icon="fas fa-file" status="info" class="col-xl-3 col-sm-6 py-2"></app-data-card>
    <app-data-card [title]="'Offres transmisent'" [number]="20" icon="fas fa-file-contract" status="warning" class="col-xl-3 col-sm-6 py-2"></app-data-card>
  </div>

</div>
