#page-title {
  font-size: 60px;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
}

.section {
  margin-top: 1em;
}

.section .section-header {
  border-bottom: 3px solid #eee;
  padding: 0.5em 0;
}

.section .section-header .section-title {
  font-size: 32px;
  color: rgb(40, 40, 40);
}

#upload-section {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr;
  width: 960px;
  max-width: 100%;
  height: 500px;
  border: 3px solid #eee;
  background: #FFFFFF;
  padding: 1em;
  margin: 1em auto;
  border-radius: 4px;
}

app-upload-file {
  width: 100%;
  height: 100%;
}

#upload-section > div {
  padding: 0 1.5em;
}

#upload-section > div p {
  text-align: justify;
}

.input-group {
  display: block;
}

.input-group label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #404040;
}

.input-group input {
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 0 1em;
}

.button-group {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-around;
}

.button-group > app-button {
  margin: 1em;
  width: 100%;
}

.cvBlock {
  display: flex;
}
.cvBlock .document {
  width: 50%;
}
.cvBlock .informations {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {

  #upload-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
    padding: 0;
    margin: 1em auto;
  }

  #upload-section > div {
    padding: 0 0;
  }

  app-upload-file {
    width: 100%;
    height: 225px;
  }
}
