:host-context(.theme-dark) nav#main-navigation div a {
  color: #f4f7ff;
  border-bottom: 2px solid rgba(30, 30, 30, 1);
}

:host-context(.theme-dark) nav#main-navigation div a.active {
  color: #f4f7ff;
  background-color: #111111;
}

:host-context(.theme-dark) nav#main-navigation div a:hover {
  color: #f4f7ff;
  background-color: #111111;
}
