nav#main-navigation div {
  min-width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 96px;
  width: 100%;
  z-index: 30;
}

nav#main-navigation div a {
  height: 48px;
  line-height: 48px;
  padding-left: 1em;
  text-align: left;
  margin: 0;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #f4f7ff;
  transition: 150ms ease-in-out;
  cursor: pointer;
  border-bottom: 2px solid rgba(200, 200, 200, 0.2);
}

nav#main-navigation div a i {
  padding-right: 1em;
}

nav#main-navigation div a.active {
  color: #29ABE2;
  background-color: #f4f7ff;
}

nav#main-navigation div a:hover {
  color: #2087b2;
  background-color: #f4f7ff;
}

@media screen and (max-width: 800px) {
  nav#main-navigation div {
    margin-top: 48px;
  }
}
