<div class="grid-container">
  <div class="Left-Panel">
    <app-logo [width]="100" [height]="20" [percentages]="true"></app-logo>

    <nav id="main-navigation" #mainNavigation>
      <a [routerLink]="['/admin/dashboard']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >dashboard</a>
      <a [routerLink]="['/admin/representants']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >representants</a>
      <a [routerLink]="['/admin/etudiants']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >etudiants</a>
    </nav>
  </div>
  <div class="Right-Panel">
    <div class="Top-Panel">
      <a href="/account"><i class="fas fa-comments"></i></a>
      <a href="/notifications"><i class="fas fa-bell"></i></a>
      <a (click)="openUserMenu()" #accountMenuLink ><i class="fas fa-user-circle"></i></a>
      <div class="accountPanel" *ngIf="isUserMenuOpened()" (clickOutside)="closeUserMenu($event)" >
        <a [routerLink]="['/admin/mon-compte']">Mon compte</a>
        <a (click)="logout()" >Se déconnecter</a>
      </div>
    </div>
    <div class="Center-Panel">
      <router-outlet></router-outlet>

    </div>
  </div>

</div>
