<div class="row">
  <div class="col-sm-12">
    <div class="section">
      <div class="section-content">
        <table class="table">
          <thead>
          <tr>
            <th>Entreprise (id)</th>
            <th>Date de soumission</th>
            <th>Statut</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>---- ---- (<a href="#">1</a>)</td>
            <td>22/06/2020 à 16H30</td>
            <td>En cours</td>
            <td>
              <div class="button-tab">
                <app-button type="normal" >Rappel</app-button>
                <app-button type="normal" (click)="viewOffer(1)" >Consulter</app-button>
                <app-button type="danger-revert" >Supprimer</app-button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

