<h1 id="page-title">
    Dashboard
</h1>

<div class="section">
    <div class="section-header">
        <h2 class="section-title">
            MON CV
        </h2>
    </div>
    <div class="section-content">
        <br>
        <div class="warning-block">
            <p>
                <b>Attention !</b> Vous n'avez pas encore fournis de CV. Veuillez soumettre votre CV dans le plus bref délait à des fin de vérification et pour continuer le processus.<br/>
                La démarche s'effectue via la section <a [routerLink]="['/dashboard/cv']" >'mon cv'</a> où vous pouvez accéder à un formulaire.
            </p>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-header">
        <h2 class="section-title">
            MES TAGS
        </h2>
    </div>
    <div class="section-content">
        Vous n'avez aucun tag
    </div>
</div>

<div class="section">
    <div class="section-header">
        <h2 class="section-title">
            EMPLOI DU TEMPS DE LA JOURNÉE
        </h2>
    </div>
    <div class="section-content">
        Aucun emploi du temps pour l'apprentis-dating n'a été publié
    </div>
</div>