<h1 id="page-title">
    Dashboard
</h1>

<div class="section">
    <div class="section-header">
        <h2 class="section-title">
            MON CV
        </h2>
    </div>
    <div class="section-content">
        Vous n'avez pas encore soumis de CV
    </div>
</div>

<div class="section">
    <div class="section-header">
        <h2 class="section-title">
            MES TAGS
        </h2>
    </div>
    <div class="section-content">
        Vous n'avez aucun tag
    </div>
</div>

<div class="section">
    <div class="section-header">
        <h2 class="section-title">
            EMPLOI DU TEMPS DE LA JOURNÉE
        </h2>
    </div>
    <div class="section-content">
        Aucun emploi du temps pour l'apprentis-dating n'a été publié
    </div>
</div>