<div class="row" >
  <!--CV pas upload-->
  <div class="col-sm-12"*ngIf="!isCvUploaded()">
    <div class="section">
      <div class="section-content">
        <app-warning-box [message]="'Vous devez transmettre votre CV le plus tôt possible afin de procéder à votre enregistrement pour l\'apprentis-dating. Pour cela veuillez importer votre CV dans la section dédiée mon cv.'"></app-warning-box>
      </div>
    </div>
  </div>

  <div class="col-sm-12" *ngIf="!isCvUploaded()">
    <div class="section">
      <div class="section-header">
        <h2 class="section-title">
          Importation du CV
        </h2>
      </div>
      <div class="section-content">
        <div *ngIf="error === 1" >
          <app-error-box [message]="'Le fichier doit &ecirc;tre au format PDF seulement !'" ></app-error-box>
          <br>
        </div>

        <div *ngIf="error === -1" >
          <app-success-box [message]="'Votre CV a bien été enregistré'" ></app-success-box>
          <br>
        </div>

        <div class="uploadedFileForm" *ngIf="file != null && error == null">
          <app-textbox [(inputModel)]="fileName" [label]="'Nom du fichier'" [fullSize]="true" ></app-textbox>
          <div class="button-group">
            <app-button type="normal" [fullSize]="true" (click)="validateCvImport($event)" >Valider</app-button>
            <app-button type="danger-revert" [fullSize]="true" (click)="cancelCvImport($event)" >Annuler</app-button>
          </div>
        </div>
        <div id="upload-section" *ngIf="file == null || error === 1">
          <app-file-upload (emitFileUpload)="changeOnUpload($event)"  ></app-file-upload>
        </div>

      </div>
    </div>
  </div>

  <!--CV  upload-->
  <div class="col-sm-12" *ngIf="isCvUploaded()">
    <div class="section">
      <div class="section-header">
        <h2 class="section-title">
          État
        </h2>
      </div>
      <div class="section-content">
        <app-info-box *ngIf="getCvModel().status === 1" message="Votre CV est en cours de vérification par le pôle alternance"></app-info-box>
        <app-success-box *ngIf="getCvModel().status === 2" message="Votre CV a bien été validé par la pôle alternance en tant que CV final"></app-success-box>
      </div>
    </div>
  </div>

  <div class="col-sm-12" *ngIf="isCvUploaded()">
    <div class="section">
      <div class="section-header">
        <h2 class="section-title">
          APERÇU
        </h2>
      </div>
      <div class="section-content">
        <div class="cv-information">
          <app-textbox [fullSize]="true" [(inputModel)]="getCvModel().filename" [disabled]="true"></app-textbox>
          <app-button type="normal" label="Aperçu"></app-button>
          <app-button type="danger-revert" label="Supprimer" *ngIf="getCvModel().status === 1"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>

