<div class="section">
  <div class="section-header">
    <h2 class="section-title">
      Mes informations personnelles
      <p class="sub-title" *ngIf="!isEditing()">
        <i class="fad fa-lock-alt" ></i>
        Section bloquée par sécurité. Cliquez sur "editer" afin de le déverouiller.
      </p>
      <p class="sub-title" *ngIf="isEditing()">
        <i class="fad fa-lock-open-alt" ></i>
        Attention vous avez déverouillé le contenue, vous pouvez modifier le contenue et appliquer la mise à jour via le bouton "modifier".
      </p>
    </h2>
    <div class="right">
      <app-button type="normal" (click)="edit()" *ngIf="!isEditing()">
        <i class="fa fa-edit"></i>
        Editer</app-button>
    </div>
  </div>
  <div class="section-content">
    <div class="data-table" *ngIf="user">
      <div class="data">
        <div class="label">
          Prénom
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [(inputModel)]="user.firstname" [disabled]="!canModify() || !isEditing()" ngDefaultControl></app-textbox>
        </div>
      </div>
      <div class="data">
        <div class="label">
          Nom
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [(inputModel)]="user.lastname" [disabled]="!canModify() || !isEditing()" ngDefaultControl></app-textbox>
        </div>
      </div>
      <div class="data">
        <div class="label">
          Mail
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [(inputModel)]="user.mail" [disabled]="!canModify() || !isEditing()" ngDefaultControl></app-textbox>
        </div>
      </div>
      <div class="data">
        <div class="label">
          Département
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [inputModel]="user.departmentNumber.name" ngDefaultControl disabled="true"></app-textbox>
        </div>
      </div>
      <div class="data">
        <div class="label">
          Type de compte
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [inputModel]="accountTypeString(user.role.toString())" disabled="true" ngDefaultControl></app-textbox>
        </div>
      </div>
    </div>

    <div class="actions" *ngIf="canModify() && isEditing()">
      <app-button type="primary" (click)="update()" >Modifier</app-button>
      <app-button type="danger-revert" (click)="delete()" >Supprimer</app-button>
      <app-button type="warning" (click)="cancel()" >Annuler</app-button>
    </div>
  </div>
</div>
<div class="section" *ngIf="user && user.role === 'STUDENT'" id="tags">
  <div class="section-header">
    <h2 class="section-title">
      Mes tags
      <p class="sub-title" >
        Tag attaché au profil de l'étudiant. Vous pouvez ajouter ou supprimer des tags.
      </p>
    </h2>
  </div>
  <div class="section-content">
    <div class="tag-student-list">
      <h2>Tag de l'étudiant</h2>
      <div class="tag-list">
        <app-tag-badge *ngFor="let tag of tags" [tag]="tag" selectable="true" (functionOnClick)="handleStudentTagSelection($event)" ></app-tag-badge>
      </div>
      <a class="add-tag-btn" (click)="deleteTagsFromStudent()">
        <i class="fa fa-minus"></i> Retirer les tags sélectionnés
      </a>
    </div>
    <div class="tag-all-list">
      <h2>Liste des tags disponibles</h2>
      <div class="tag-list">
        <app-tag-badge *ngFor="let tag of allTags" [tag]="tag" selectable="true" (functionOnClick)="handleTagListSelection($event)"></app-tag-badge>
      </div>
      <a class="add-tag-btn" (click)="addTagstoStudent()">
        <i class="fa fa-plus"></i> Ajouter les tags
      </a>
    </div>
  </div>
</div>

<div class="section" *ngIf="user && user.role === 'STUDENT'">
  <div class="section-header">
    <h2 class="section-title">
      Mon CV
      <p class="sub-title" >
        État du cv de l'étudiant. Seul vous pouvez voir cette section.
      </p>
    </h2>
  </div>
  <div class="section-content">
    <app-warning-box *ngIf="!user.cv" message="L'étudiant n'a pas encore soumis son CV !"></app-warning-box>
    <div *ngIf="user.cv && user.cv.status === 0" >
      <app-info-box  message="Vous devez approuver ou rejeter le CV"></app-info-box>
      <br>
      <div class="actions full">
        <app-button (functionClick)="downloadCvAsPdf()">Télécharger le CV</app-button>
        <app-button (functionClick)="approveCv()" type="success">Approuver</app-button>
        <app-button (functionClick)="rejectCv()" type="danger-revert">Rejeter</app-button>
      </div>
    </div>
    <div *ngIf="user.cv && user.cv.status === 1" >
      <app-error-box  message="vous avez rejeté le CV de cet étudiant"></app-error-box>
    </div>
    <div *ngIf="user.cv && user.cv.status === 2" >
      <app-success-box  message="vous avez approuvé le CV de cet étudiant"></app-success-box>
    </div>
  </div>
</div>
