/* You can add global styles to this file, and also import other style files */
/*@import url('fontawesome/all.min.css');*/

* {
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  touch-action: pan-x pan-y !important;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

html, body {

  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background-color: #f4f7ff;
  overflow: hidden;

  font-family: 'Montserrat', serif;

  font-size: 14px;
}

body.theme-dark {
  background-color: #2a2a2a;
  color: #FFFFFF;
}


h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.4em;
}

.col.main {
  margin: 1em 0;
}


#page-title {
  font-size: 60px;
  text-transform: uppercase;
  color: rgb(40, 40, 40);
}

.section {
  margin-top: 1em;
}

.section .section-header {
  border-bottom: 2px solid #e7e9ed;
  padding: 0.5em 0;
}

.section .section-header .section-title {
  color: rgb(40, 40, 40);
  text-transform: uppercase;
}

.section .section-content {
  padding: 1em 0;
  max-width: 100%;
}

.theme-dark .section .section-header #page-title {
  color: #FFF;
}
.theme-dark .section .section-header .section-title {
  color: #FFF;
}

.theme-dark table {
  color:#FFFFFF;
}

.button-tab {
  display: flex;
  justify-content: flex-end;
}
.button-tab app-button {
  margin: 0 0.25em;
}

.form-group {
  display: flex;
}
.form-group input[type="file"] {
  height: 48px ;
}


.special {
  background-color: #d8dce2;
  margin-top: 0.5em;
}

.form-group {
  display: flex;
}
.form-group > app-textbox {
  width: 100%;
  padding: 0.5em;
}

body.theme-dark .special {
  background-color: #1e1e1e;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

form .input-group {
  display: flex;
  flex-direction: column;
  margin: 0.25em 0.5em;
  width: 100%;
}

form .input-group label {
  font-size: 14px;
  font-weight: bold;
  padding: 0.1em 0.5em;
}

form .input-group input,
form .input-group select {
  font-size: 12px;
  height: 32px;
  border-radius: 5px;
  text-align: left;
  color: #141414;
  border: 2px solid transparent;
  width: 100%;
  text-indent: 0.5em;

  transition: 150ms ease-in-out;
}


form span.error {
  color: #dc2850;
  font-size: 11px;
  background-color: #FFFFFF;
  padding: 0.5em;
}
form .input-group input.error {
  border-color: #dc2850;
}

.input-wrapper {
  position: relative;
}

.input-wrapper .error-box {
  position: absolute;
  bottom: 0;
  right: 12px;
  color: #dc2850;
  height: 32px;
  font-size: 12px;
}
.input-wrapper .error-box span {
  display: inline-block;
  margin-right: 0.5em;
  line-height: 32px;
  font-weight: bold;
}
.input-wrapper .error-box i {
  display: inline-block;
  line-height: 32px;
}

@media screen and (max-width: 800px) {
  html, body {

    min-height: 100%;
    overflow: auto;
  }

  table {
    overflow: auto;
    max-width: 100%;
  }

  .form-group {
    flex-direction: column;
  }
}
