<div class="section">
  <div class="section-header">
    <h2 class="section-title">
      Mes informations personnelles
    </h2>
  </div>
  <div class="section-content">
    <br>
    <div class="data-table" *ngIf="user">
      <div class="data">
        <div class="label">
          Prénom
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [(inputModel)]="user.name" [disabled]="true" ngDefaultControl></app-textbox>
        </div>
      </div>
      <div class="data">
        <div class="label">
          Nom
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [(inputModel)]="user.surname" [disabled]="true" ngDefaultControl></app-textbox>
        </div>
      </div>
      <div class="data">
        <div class="label">
          Mail
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [(inputModel)]="user.mail" [disabled]="true" ngDefaultControl></app-textbox>
        </div>
      </div>
      <div class="data">
        <div class="label">
          Département
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [inputModel]="departmentString(user.departmentNumber.departmentId)" ngDefaultControl [disabled]="true"></app-textbox>
        </div>
      </div>
      <div class="data">
        <div class="label">
          Type de compte
        </div>
        <div class="content">
          <app-textbox [fullSize]="true" [inputModel]="user.role" [disabled]="true" ngDefaultControl></app-textbox>
        </div>
      </div>
    </div>
  </div>
</div>
