button {
  display: block;
  min-height: 32px;
  line-height: 30px;
  border: 0;
  border-radius: 4px;
  padding: 0 1.5em;
  font-size: 1.0em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}
button.block {
  display: block;
  width: 100%;
}

button.primary {
  color: #fff;
  background-color: #359eec;
  border: 2px solid #359eec;
}
button.primary:hover {
  background-color: #2d87cc;
  border-color: #2d87cc;
}

button.secondary {
  color: #359eec;
  background-color: #ffffff;
  border: 2px solid #359eec;
}
button.secondary:hover {
  color: #2d87cc;
  border: 2px solid #2d87cc;
}

button.normal {
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #2d87cc;
}
button.normal:hover {
  color: #2d87cc;
  border: 2px solid #2d87cc;
}

button.tertiary {
  color: #359eec;
  text-decoration: underline;
  background-color: transparent;
  padding: 0;
  min-width: auto;
}
button.tertiary:hover {
  color: #2d87cc;
}

button.danger {
  color: #fff;
  background-color: #dc2850;
  border: 2px solid #dc2850;
}
button.danger:hover {
  background-color: #d71a1a;
  border-color: #d71a1a;
}

button.danger-revert {
  color: #dc2850;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
button.danger-revert:hover {
  background-color: #d71a1a;
  border-color: #d71a1a;
  color: #FFFFFF;
}

button.warning {
  color: #fff;
  background-color: #ffbd29;
  border: 2px solid #ffbd29;
}
button.warning:hover {
  background-color: #e5a825;
  border-color: #e5a825;
}

button:focus, button:active {
  outline: 0;
}


button.success {
  color: #47d664;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
button.success:hover {
  background-color: #47d664;
  border-color: #47d664;
  color: #FFFFFF;
}
