<h1 id="page-title">MON COMPTE</h1>

<div class="section">
    <div class="section-header">
        <h2 class="section-title">
            MES INFORMATIONS
        </h2>
    </div>
    <div class="section-content">
        <div class="horiztonal-input-group">
            <app-textbox [label]="'Prénom'" [(inputModel)]="firstname" [disabled]="true" [fullSize]="true"></app-textbox>
            <app-textbox [label]="'Nom de famille'" [(inputModel)]="lastname" [disabled]="true" [fullSize]="true"></app-textbox>
        </div>
    </div>
</div>