<div class="grid-container">
    <div class="Left-Panel">
        
        <img src="assets/img/logo.png" alt="" id="approfox-logo">

        <nav id="main-navigation" #mainNavigation>
            <a [routerLink]="['/dashboard/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                true}" >dashboard</a>
            <a [routerLink]="['/dashboard/cv']" [routerLinkActive]="['active']">Mon cv</a>
            <a [routerLink]="['/dashboard/tags']" [routerLinkActive]="['active']">Mes tags</a>
        </nav>

    </div>
    <div class="Right-Panel">
        <div class="Top-Panel">
            <a href="/account"><i class="fas fa-comments"></i></a>
            <a href="/notifications"><i class="fas fa-bell"></i></a>
            <a href="/account"><i class="fas fa-user-circle"></i></a>
        </div>
        <div class="Center-Panel">
            <div *ngIf="router.url === '/dashboard'">
               <app-dashboard></app-dashboard>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>