<div class="grid-container">
    <div class="Left-Panel">
        
        <img src="assets/img/logo.png" alt="" id="approfox-logo">

        <nav id="main-navigation" #mainNavigation>
            <a href="/dashboard" class="active">dashboard</a>
            <a href="/cv">Mon cv</a>
            <a href="/tags">Mes tags</a>
        </nav>

    </div>
    <div class="Right-Panel">
        <div class="Top-Panel">
            <a href="/account"><i class="fas fa-comments"></i></a>
            <a href="/notifications"><i class="fas fa-bell"></i></a>
            <a href="/account"><i class="fas fa-user-circle"></i></a>
        </div>
        <div class="Center-Panel">
            <h1 id="page-title">
                Dashboard
            </h1>

            <div class="section">
                <div class="section-header">
                    <h2 class="section-title">
                        MON CV
                    </h2>
                </div>
                <div class="section-content">
                    Vous n'avez pas encore soumis de CV
                </div>
            </div>

            <div class="section">
                <div class="section-header">
                    <h2 class="section-title">
                        MES TAGS
                    </h2>
                </div>
                <div class="section-content">
                    Vous n'avez aucun tag
                </div>
            </div>

            <div class="section">
                <div class="section-header">
                    <h2 class="section-title">
                        EMPLOI DU TEMPS DE LA JOURNÉE
                    </h2>
                </div>
                <div class="section-content">
                    Aucun emploi du temps pour l'apprentis-dating n'a été publié
                </div>
            </div>
        </div>
    </div>
</div>